<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100596389-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100596389-3');
</script>
<div class="container-fluid bg-gradient-1">
  <div class="container text-center p-2">
    <p class="m-0">Batfish is open source, visit us on
      <a href="{{site.github-project-url}}">GitHub</a>
    </p>
  </div>
</div>
