<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100596389-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-100596389-3');
</script>
<div class="container-fluid bg-gradient-1">
  <div class="container text-center p-2">
    <p class="m-0 lead">
      <span>
              Want to get your hands dirty? See our <a href=https://batfish.readthedocs.io/en/latest/index.html>Python docs</a> (<a href="assets/cheat-sheet.pdf">a cheat sheet</a>) or <a href=https://github.com/batfish/ansible>Ansible docs</a>.
      </span>
      <br>
      <span>
              Got questions or feature requests? Join us on
              <a href="https://join.slack.com/t/batfish-org/shared_invite/enQtMzA0Nzg2OTAzNzQ1LTcyYzY3M2Q0NWUyYTRhYjdlM2IzYzRhZGU1NWFlNGU2MzlhNDY3OTJmMDIyMjQzYmRlNjhkMTRjNWIwNTUwNTQ">Slack</a> or <a href="https://github.com/batfish/batfish">GitHub</a>.
          </span>
    </p>
  </div>
</div>
