<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100596389-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-100596389-3');
</script>
<div class="container-fluid bg-gradient-1">
  <div class="container text-center p-2">
    <p class="m-0 lead">
      <span>
              Want to get your hands dirty? See our <a href="assets/cheat-sheet.pdf"> cheat sheet</a> or head to
              <a href="https://github.com/batfish/batfish">GitHub</a>.
      </span>
      <br>
      <span>
              Got questions or feature requests? Join us on 
              <a href="https://join.slack.com/t/batfish-org/shared_invite/enQtMzA0Nzg2OTAzNzQ1LTUxOTJlY2YyNTVlNGQ3MTJkOTIwZTU2YjY3YzRjZWFiYzE4ODE5ODZiNjA4NGI5NTJhZmU2ZTllOTMwZDhjMzA">Slack</a>.
          </span>
    </p>
  </div>
</div>
