<div class="justify-content-center row">
    <div class="col-10">
        <div class="section-title">
            <h2>Selected Community Resources</h2>
        </div>

        <ul class="nav mb-5 justify-content-center p-0">
            <li class="nav-item mx-2">
                <a id="community-resource-button-2" class="nav-link active font-weight-bold">Articles / Blogs</a>
            </li>

            <li class="nav-item mx-2">
                <a id="community-resource-button-1" class="nav-link  font-weight-bold">Videos</a>
            </li>
        </ul>


        <div id="community-resources-link-container">
            <!-- Article/Blogs-->
            <div id="community-resources-2">
                <div class="content-row my-4">
                    <a href="https://paper.dropbox.com/doc/Batfish-Configuration-Validation-Testing-sOQ3xrZZaJGICghvrPLC0">
                        <h4>Batfish Configuration Validation Testing</h4>
                    </a>
                    <p>Nathan Winemiller (Dropbox)</p>
                </div>

                <div class="content-row my-4">
                    <h4>Unleashing the Batfish</h4>
                    <h5 class="mt-0">
                        | <a href="https://www.packetflow.co.uk/unleashing-the-batfish-part-1-configuration-analysis/">Part 1: Configuration Analysis</a>
                    </h5>
                    <h5 class="mt-0">
                        | <a href="https://www.packetflow.co.uk/unleashing-the-batfish-part-2-impact-analysis/">Part 2: Impact Analysis</a>
                    </h5>
                    <p>Rick Donato (@packetflow1)</p>
                </div>

                <div class="content-row my-4">
                    <h4>Exploring Batfish with Cumulus</h4>
                    <h5 class="mt-0">
                        | <a href="https://cumulusnetworks.com/blog/exploring-batfish-with-cumulus-part-one/">Part 1: Getting started with Batfish and Cumulus</a>
                    </h5>
                    <h5 class="mt-0">
                        | <a href="https://cumulusnetworks.com/blog/exploring-batfish-with-cumulus-part-2/">Part 2: Building a CI/CD pipeline with Batfish and Cumulus</a>
                    </h5>
                    <p>Anthony Miloslavsky (Cumulus, @permitanyany)</p>
                </div>

                <div class="content-row my-4">
                    <a href="https://eos.arista.com/network-ci-part-3/">
                            <h4>Building a network CI pipeline with Gitlab, Ansible, cEOS, Robot Framework and Batfish (Signup required)</h4>
                        </a>
                    [<a href=https://github.com/networkop/arista-network-ci>Code</a>]
                        <p>Michael Kashin (Arista, @networkop1)</p>
                    </div>

                    <div class="content-row my-4">
                        <a href="https://habr.com/ru/post/441532/">
                            <h4>Batfish introduction (In Russian)</h4>
                        </a>
                    [<a href=https://github.com/showroute/batfish-habr>Code</a>]
                        <p>Dmitry Shaurov (Megafon, @DmitryShaurov)</p>
                    </div>

                    <div class="content-row my-4">
                        <a href="https://tekunabe.hatenablog.jp/entry/2018/10/25/batfish">
                            <h4>Introduction of tool "Batfish" which can read various configurations of network equipment and can perform various verification such as routing (In Japanese)</h4>
                        </a>
                    <p>Yokochi (@akira6592 )</p>
                </div>

                <div class="content-row my-4">
                    <a href="https://unicast.network/posts/batfish_intro/">
                            <h4>Batfish introduction</h4>
                        </a>
                    <p>Ruari Carrol (Twitter, @rucarrol)</p>
                </div>
            </div>
            <!-- Article/Blogs: END-->

            <!--Videos -->
            <div id="community-resources-1" class="d-none">

                <div class="content-row my-4">
                    <a href="https://www.youtube.com/watch?v=EBh4LUGZUMo">
                        <h4>Batfish experience at Texas A&M University, so far .....</h4>
                    </a>
                    <p>William Diegaard (Texas A&M University)</p>
                </div>

                <div class="content-row my-4">
                    <a href="https://www.youtube.com/watch?v=D9hZiW66jw4">
                        <h4>Talk at NANOG75: Using open source tools to validate network configuration</h4>
                    </a>
                    <p>Daniel Halperin (Intentionet, @dhalperi)</p>
                </div>

                <div class="content-row my-4">
                    <a href="https://www.youtube.com/watch?v=icGAxZohDWA">
                        <h4>Video stream: Network validation with Batfish – Network Programmability stream</h4>
                    </a>
                    <p>Dmitry Figol (Cisco, @dmfigol)</p>
                </div>

                <div class="content-row my-4">
                    <a href="https://www.ansible.com/resources/webinars-training/validating-pre-commit-network-configuration-changes-at-scale-with-batfish-ansible">
                        <h4>Webinar: Validating Pre-Commit Network Configuration Changes at Scale with Batfish and Ansible</h4>
                    </a>
                    [<a href=https://github.com/batfish/ansible-demo>Code</a>]
                  <p>Andrius Benokraitis (RedHat, @andriusb), Ratul Mahajan (Intentionet, @ratulm), Samir Parikh (Intentionet, @saparikh)</p>
                </div>

            </div>
            <!-- Videos: END-->
        </div>
    </div>
</div>
