<footer class="site-footer border-top">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="container p-5">
    <div class="row">
      <div class="col-5">
          <div class="card border-0">
   
              <div class="card-body">
    <p class="card-text">
      Batfish is being maintained and released as a commercial product by <a href="https://www.intentionet.com">Intentionet</a>
                </p>
              </div>
            </div>
      </div>
      
      <div class="col-4">
        <!-- <p>{{- site.description | escape -}}</p> -->
      </div>
    </div>

  </div>

</footer>
