<div class="site-header">
    <div class="p0 d-flex align-items-center container">

        <!-- banner logo -->
        <div id="intentionet-logo" class="flex-grow-1">
            <a href="https://www.intentionet.com/" class="d-block m-0" style="max-width: 200px">
                <object  type="image/svg+xml" data="{{ '/assets/intentionet-alt_logo.svg' | relative_url}}" style="max-height:40px; max-width: 200px; pointer-events: none;"></object>
            </a>
        </div>

        <!-- Banner text -->
        <small class="banner-text text-light py-3">Learn about <a href="https://www.intentionet.com/product/batfish-enterprise/">Batfish Enterprise</a>, a supported service offered by <a href="https://www.intentionet.com">Intentionet</a>.</small>
    </div>
</div>
