<div class="site-header">
    <div class="p0 d-flex align-items-center container">

        The Intentionet team is joining AWS. We are excited to continue, under a new umbrella, our mission of transforming how networks are engineered.

        Batfish will become an AWS-managed open source project. It will remain available under the same open source
license, and we will continue our work on the project in collaboration with the community. You are encouraged
to continue asking questions via Slack, opening issues and PRs on GitHub, and participating in the community to
improve Batfish for everyone. 

    </div>
</div>
