<div class="justify-content-center ">
  <div class="section-title">
    <h2>Trusted by Network Engineers</h2>
  </div>
</div>
<div id="oss-users-container">
  <!-- OSS Users-->
  <div id="oss-1" class="justify-content-center row">
    <div class="col-sm-4 d-flex align-items-center justify-content-center my-2" style="min-height:70px">
        <a href="https://www.linkedin.com/pulse/using-gitlab-runners-network-pipelines-jorge-romero/">
          <img alt="Electronic Arts" src="{{ '/assets/oss-users/ea-logo.png' | relative_url}}" style="width:70px">
        </a>
    </div>
    <div class="col-sm-4 d-flex align-items-center justify-content-center my-2" style="min-height:70px">
        <a href="https://github.com/networktocode/ntc-soteria/">
          <img alt="NetworkToCode" src="{{ '/assets/oss-users/ntc-logo.png' | relative_url}}" style="width:250px">
        </a>
    </div>
    <div class="col-sm-4 d-flex align-items-center justify-content-center my-2" style="min-height:70px">
        <a href="https://github.com/Marphlap/batfish_dashboard">
          <img alt="Presido" src="{{ '/assets/oss-users/presidio-logo.svg' | relative_url}}" style="width:200px">
        </a>
    </div>
    <div class="col-sm-4 d-flex align-items-center justify-content-center my-2" style="min-height:70px">
        <a href="https://github.com/arista-netdevops-community/ansible-webinar-february-2020/">
          <img alt="Arista Networks" src="{{ '/assets/oss-users/arista-logo.png' | relative_url}}" style="width:170px">
        </a>
    </div>
    <div class="col-sm-4 d-flex align-items-center justify-content-center my-2" style="min-height:70px">
        <a href="https://gitlab.com/petercrocker/cumulus-generic-setup/-/tree/master">
          <img alt="Cumulus Networks (Nvidia)" src="{{ '/assets/oss-users/cumulus-logo.svg' | relative_url}}" style="width:210px">
        </a>
    </div>
    <div class="col-sm-4 d-flex align-items-center justify-content-center my-2" style="min-height:70px">
        <a href="https://www.linkedin.com/pulse/network-configuration-analyser-sudarshan-v/">
          <img alt="Cyber CX" src="{{ '/assets/oss-users/cybercx-logo.png' | relative_url}}" style="width:180px">
        </a>
    </div>
    <div class="col-sm-4 d-flex align-items-center justify-content-center my-2" style="min-height:70px">
	<a href="https://github.com/osism">
	  <img alt="OSISM" src="{{ '/assets/oss-users/osism-logo.png' | relative_url}}" style="width:180px">
	</a>
    </div>
  </div>
</div>
  <!-- End OSS Users-->
