<div class="justify-content-center ">
    <div class="section-title">
        <h2>Publications</h2>
    </div>
    <ul class="nav mb-5 justify-content-center p-0">
        <li class="nav-item mx-2">
            <a id="publication-button-1" class="nav-link active font-weight-bold">Papers that describe the technology</a>
        </li>
        <li class="nav-item mx-2">
            <a id="publication-button-2" class="nav-link font-weight-bold">Papers that build on Batfish</a>
        </li>
    </ul>
</div>

<div style="min-height:520px">
<!-- Publication-->
    <div id="publication-1" class="justify-content-center row">
      <div class="col-10">
        <div class="content-row my-4">
          <a href="https://www.usenix.org/system/files/conference/nsdi15/nsdi15-paper-fogel.pdf">
            <h4>A General Approach to Network Configuration Analysis</h4>
          </a>
          <p>Ari Fogel, Stanley Fung, Luis Pedrosa, Meg Walraed-Sullivan, Ramesh Govindan, Ratul Mahajan, Todd Millstein</p>
          <p>USENIX Symposium on Networked Systems Design and Implementation (NSDI) 2015</p>
        </div>

        <div class="content-row my-4">
          <a href="https://ratul.org/papers/hvc2016-ddnf.pdf">
            <h4>ddNF: An efficient data structure for header spaces</h4>
          </a>
          <p>Nikolaj Bjørner and Garvit Juniwal and Ratul Mahajan and Sanjit A. Seshia and George Varghese</p>
          <p>Haifa Verification Conference (HVC) 2016</p>
        </div>

        <div class="content-row my-4">
          <a href="http://ratul.org/papers/sigcomm2017-minesweeper.pdf">
            <h4>A General Approach to Network Configuration Verification</h4>
          </a>
          <p>Ryan Beckett, Aarti Gupta, Ratul Mahajan, David Walker</p>
          <p>ACM SIGCOMM  2017</p>
        </div>

        <div class="content-row my-4">
          <a href="http://ratul.org/papers/sigcomm2018-bonsai.pdf">
            <h4>Control Plane Compression</h4>
          </a>
          <p>Ryan Beckett, Aarti Gupta, Ratul Mahajan, David Walker</p>
          <p>ACM SIGCOMM 2018</p>
        </div>
      </div>
    </div>
  <!-- End publications-->

  <!-- Related publications-->
    <div id="publication-2" class="d-none justify-content-center row">
      <div class="col-10">
        <div class="content-row my-4">
          <a href="https://ratul.org/papers/sigcomm2016-arc.pdf">
            <h4>Fast Control Plane Analysis Using an Abstract Representation</h4>
          </a>
          <p>Aaron Gember-Jacobson, Raajay Viswanathan, Aditya Akella, Ratul Mahajan</p>
          <p>ACM SIGCOMM 2016</p>
        </div>

        <div class="content-row my-4">
          <a href="https://www.usenix.org/system/files/conference/osdi16/osdi16-fayaz.pdf">
            <h4>Efficient Network Reachability Analysis Using a Succinct Control Plane Representation</h4>
          </a>
          <p>Seyed K. Fayaz, Tushar Sharma, Ari Fogel, Ratul Mahajan, Todd Millstein, Vyas Sekar, George Varghese</p>
          <p>USENIX Symposium on Operating Systems Design and Implementation (OSDI) 2016</p>
        </div>
        
        <div class="content-row my-4">
          <a href="https://ratul.org/papers/sosp2017-cpr.pdf">
            <h4>Automatically Repairing Network Control Planes Using an Abstract Representation</h4>
          </a>
          <p>Aaron Gember-Jacobson and Aditya Akella and Ratul Mahajan and Hongqiang Harry Liu</p>
          <p>ACM SOSP 2017</p>
        </div>

      </div>
    </div>
  <!-- End publications-->
</div>
