<div class="justify-content-center ">
    <div class="section-title">
        <h2>Tutorials</h2>
    </div>
    <ul class="nav mb-5 justify-content-center p-0">
        <li class="nav-item mx-2">
            <a id="section-01" class="nav-link active font-weight-bold">Section 1</a>
        </li>
        <li class="nav-item mx-2">
            <a id="section-02" class="nav-link font-weight-bold">Section 2</a>
        </li>
    </ul>
</div>

<div id="carousel-1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- VIDEO Getting Started -->
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/Ca7kPAtfFqo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen />
                        </iframe>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">How to get started with Batfish.</p>
                </div>
            </div>
            <!-- END Getting Started -->
        </div>
        <div class="carousel-item">
            <!-- VIDEO Validating Configuration Setting -->
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <!-- Validation configuration settings started -->
                        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/qOXRaVs1Uz4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">How to validate configuration settings and ensure compliance.</p>
                </div>
            </div>
            <!-- END Validating Configuration Setting -->
        </div>
        <div class="carousel-item">
            <!-- VIDEO Analyzing Routing Tables -->
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/AutkFa0xUxg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">How to view and analyze routing tables computed by Batfish.</p>
                </div>
            </div>
            <!-- END Analyzing Routing Tables -->
        </div>
    </div>

    <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="carousel-2" class="carousel slide d-none" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-2" data-slide-to="1"></li>
        <li data-target="#carousel-2" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- VIDEO Analyzing ACLs and Firewall Rules -->
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/KixQYEDh33s"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">How to analyze ACLs and firewalls rules.</p>
                </div>
            </div>
            <!-- END Analyzing ACLs and Firewall Rules -->
        </div>
        <div class="carousel-item">
            <!-- Provably Safe ACLs and Firewalls -->
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/MJYLVL9UOWk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">How to ensure that changes to ACLs and firewall rules are correct.</p>
                </div>
            </div>
            <!-- END Provably Safe ACLs and Firewalls -->
        </div>
        <div class="carousel-item">
            <!-- VIDEO Introduction to Forwarding Analysis -->
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/yaJBH3ZZ5Dw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">How to analyze forwarding paths of individual flows and verify forwarding for
                        <i>all</i>
                        flows.</p>
                </div>
            </div>
            <!-- END Introduction to Forwarding Analysis -->
        </div>
    </div>

    <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
