<div class="justify-content-center row">
    <div class="col-10">
        <div class="section-title">
            <h2>Tutorials</h2>
        </div>
        <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=Ca7kPAtfFqo&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3&index=1">
                <h4>Getting Started with Batfish</h4>
            </a>
        </div>

        <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=qOXRaVs1Uz4&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3&index=2">
                <h4>Validating Configuration Settings with Batfish
                </h4>
            </a>
        </div>

        <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=AutkFa0xUxg&index=3&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
                <h4>Analyzing Routing Tables with Batfish</h4>
            </a>
        </div>

        <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=KixQYEDh33s&index=4&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
                <h4>Analyzing ACLs and Firewall Rules</h4>
            </a>
        </div>

        <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=MJYLVL9UOWk&index=5&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
                <h4>Provably Safe ACL and Firewall Changes</h4>
            </a>
        </div>

        <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=yaJBH3ZZ5Dw&index=6&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
                <h4>Introduction to Forwarding Analysis</h4>
            </a>
        </div>

        <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=Yje70Q8R79w&index=7&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
                <h4>Introduction to Forwarding Change Validation</h4>
            </a>
        </div>

        <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=1adAT6FK-UI&index=8&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
                <h4>Analyzing the Impact of Failures (and letting loose a Chaos Monkey)</h4>
            </a>
        </div>

    </div>
</div>
