// Screen sizes ≥ 1200
@include media-breakpoint-down(xl) {

    /** May need adjusting if publication links are added **/
    #publication-link-container {
        min-height: 520px;
    }

    /** May need adjusting if community resource links are added **/
    #community-resources-link-container {
        min-height: 600px;
    }
}

// Screen sizes ≥ 768px
@include media-breakpoint-down(md) {
    #batfish-logo {
        transform: translate(-410px, -10px);
        width: 344px;
    }

    #amorphous-blob {
        width: 410px;
        transform: translate(0px, -38px) rotate(18deg);
    }

    /** May need adjusting if publication links are added **/
    #publication-link-container {
        min-height: 620px;
    }

    /** May need adjusting if community resource links are added **/
    #community-resources-link-container {
        min-height: 760px;
    }

    .carousel .carousel-inner {
        min-height: unset;
    }


    .site-footer,
    .section,
    .banner-container {
        text-align: center;
    }

    .social-media-list a {
        justify-content: center;
    }
}

// Screen sizes ≥ 576px
@include media-breakpoint-down(sm) {


    li.nav-item.mx-2 {
        width: 100%;
        border: 2px solid #D2951D;
        margin: 5px 0px;
    }

    .nav a.nav-link.active,
    .nav a.nav-link:hover {
        border: unset;
        background: #D2951D;
        color: white;
    }

    nav a:not([href]):not([tabindex]),
    .nav a:not([href]):not([tabindex]):hover,
    .nav a:not([href]):not([tabindex]):focus {
        color: white;
    }

    #publication-link-container {
        min-height: 700px;
    }


}

// Screen sizes < 576px
@include media-breakpoint-down(xs) {
    #batfish-logo {
        transform: translate(-325px, -38px);
        width: 300px;
    }

    #amorphous-blob {
        max-width: 300px;
        transform: translate(0px, -38px) rotate(18deg);
    }
}

// Screen sizes <= 334 px
@media (max-width: 334px) {
    #batfish-logo {
        transform: translate(-177px, -255px);
        width: 300px;
    }
}
