.page-content {
    min-height: 84vh;
}

.banner-container {
    padding: 7em 0px 6em 0;
}

#batfish-logo {
    position: absolute;
    max-width: 386px;
    transform: translate(-55px, -366px);
    filter: drop-shadow(-3px 3px 10px rgba(0, 0, 0, .7));
    -webkit-filter: drop-shadow(-3px 3px 10px rgba(0, 0, 0, .7));
}

#amorphous-blob {
    width: 500px;
    transform: translate(-90px, -38px) rotate(18deg);
}

.social-media-list {
    a {
        display: flex;
        align-items: center;
    }

    .svg-icon {
        fill: $color_accent;
        width: 20px;
        height: 20px;
        margin: 5px;
    }
}

.site-footer {
    background: $color_contrast;

    ul {
        list-style: none;
        padding: 0px;
        color: $color_body_text;
    }
}

.site-sub-footer {
    background: $color_contrast;
    border-top: 1px solid $color_muted;
}

.content-row {
    h4 {
        color: $color_accent;
    }

    p {
        margin: 0px;
    }
}

.section {
    margin: 5rem 0rem;

    .section-title {
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    h5 {
        color: $color_accent_2;
    }

    ul {
        list-style: none;
        padding-left: 20px;
    }
}

// Carousel
.carousel-control-prev,
.carousel-control-next {
    width: unset;
}

.carousel {
    padding: 0 50px 50px;

    .carousel-inner {
        min-height: 555.500px;
    }
}

.card {
    background: $color_muted;

    .card-image {
        padding: 2px;
    }
}
