--- 
layout: default
title: hello
---

<div class="home">
  <!-- Banner -->
  <div class="container banner-container">
    <div class="row">
      <div class="col-md-7  order-2 order-md-1">
        <h1 class="display-1">Batfish</h1>
        <p class="lead">
          An open source network configuration analysis tool
        </p>
      </div>
      <div class="col-md-5 order-1 order-md-2">
          <object id="batfish-logo" type="image/svg+xml" data="{{ '/assets/animated-batfish.svg' | relative_url}}" class="mx-2">
            <!-- TODO ADD FALLBACK FOR SVG-->
          </object>
      </div>
    </div>
  </div>

  {%- include banner.html -%}
  <!-- Content -->
  <div class="container">

    <div class="section">
          <div class="justify-content-center row">
            <div class="col-10">
                <div class="section-title">
                    <h2>Welcome!</h2>
                  </div>
        <p>Batfish is a network configuration analysis tool developed jointly by researchers at Intentionet, Inc.; University
          of California, Los Angeles; University of Southern California; and Microsoft Research. Though its individual modules
          have various applications, its primary purpose is to detect bugs in network configurations.</p>
      </div>
    </div>
    </div>
      
      <!-- Pipeline section-->
      <div class="section">
          <div class="justify-content-center row">
            <div class="col-10">
              <div class="section-title">
              <h2>Batfish supports a wide-variety of analyses</h2>
            </div>

            <div class="row">
              <div class="card-deck">
                <div class="card bg-none border-0">
                  <div class="card-body">
                    <h5 class="card-title">1. Compliance and best-practices guidelines, e.g.:</h5>
                      <div class="card-text">
                        <ul>
                          <li class="py-2">Flag undefined-but-referenced or defined-but-unreferenced structures (e.g., ACLs, route maps)</li>
                          <li class="py-2">Ensure that all interface MTUs are per the network's standard</li>
                        </ul>
                      </div>
                  </div>
                </div>
                <div class="card bg-none border-0">
                  <div class="card-body">
                      <h5 class="card-title">2. Checks on data flow, e.g.:</h5>
                      <div class="card-text">
                          <ul>
                            <li class="py-2">Path (shape) between two devices is as expected (e.g., traverses a firewall, valley-free routing)</li>
                            <li class="py-2">Number of paths between two devices is as expected (i.e., correct multi-path configuration)</li>
                          </ul>
                        </div>
                  </div>
                </div>
              </div>
            </div>
      

          <div class="row">
            <div class="card-deck">
              <div class="card bg-none border-0">
                <div class="card-body">
                    <h5 class="card-title">3. Fault-tolerance, e.g.:</h5>
                    <div class="card-text">
                        <ul>
                          <li class="py-2">End-to-end reachability is not impacted for any flow after any single-link or -device failure</li>
                          <li class="py-2">Traffic correctly fails over after a failure</li>
                        </ul>
                      </div>
                </div>
              </div>
              <div class="card bg-none border-0">
                <div class="card-body">
                    <h5 class="card-title">4. "Differential" analysis of two sets of configuration, e.g.:</h5>
                    <div class="card-text">
                        <ul>
                          <li class="py-2">End-to-end reachability is identical across new and old configurations</li>
                          <li class="py-2">Two configurations, potentially from different vendors, are semantically equivalent</li>
                        </ul>
                      </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>

      <!-- NANOG Video-->
      <div class="section">
        <div class="justify-content-center row">
          <div class="col-10">
            <div class="section-title">
              <h2>Talks</h2>
            </div>

            <div class="content-row my-4">
              <a href="https://youtu.be/sKApcGY6MxQ"><h4>NANONG 65 : Proactive Network Configuration Validation with Batfish</h4></a>
              <p>Ari Fogel, Ratul Mahajan, Todd Millstein</p>
            </div>

            <div class="content-row my-4">
              <a href="https://youtu.be/BoLjaiP2Dio"><h4>NANONG 70 : Minesweeper and Propane: Two Tools for Improving Network Reliability</h4></a>
              <p>Ryan Beckett</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Publication-->
      <div class="section">
          <div class="justify-content-center row">
          <div class="col-10">
            <div class="section-title">
          <h2>Publications</h2>
        </div>
          <div class="content-row my-4">
            <a href="https://www.usenix.org/system/files/conference/osdi16/osdi16-fayaz.pdf">
              <h4>Efficient Network Reachability Analysis using a Succinct Control Plane Representation</h4>
            </a>

            <p>Seyed K. Fayaz, Tushar Sharma, Ari Fogel, Ratul Mahajan, Todd Millstein, Vyas Sekar, George Varghese</p>
            <p>USENIX Symposium on Operating Systems Design and Implementation (OSDI) 2016</p>
          </div>


          <div class="content-row my-4">
            <a href="https://ratul.org/papers/sigcomm2016-arc.pdf">
              <h4>Fast Control Plane Analysis Using an Abstract Representation</h4>
            </a>

            <p>Aaron Gember-Jacobson, Raajay Viswanathan, Aditya Akella, Ratul Mahajan</p>
            <p>ACM SIGCOMM 2016</p>
          </div>


          <div class="content-row my-4">
            <a href="https://www.usenix.org/system/files/conference/nsdi15/nsdi15-paper-fogel.pdf">
              <h4>A General Approach to Network Configuration Analysis</h4>
            </a>
            <p>Ari Fogel, Stanley Fung, Luis Pedrosa, Meg Walraed-Sullivan, Ramesh Govindan, Ratul Mahajan, Todd Millstein</p>
            <p>USENIX Symposium on Networked Systems Design and Implementation (NSDI) 2015</p>
          </div>
          <div class="section-title">
              <h3>Publications that leverage Batfish</h3>
        </div>
        </div>
        </div>
        <!-- End publications-->
      </div>
    </div>

    {%- if site.post.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.post -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.var | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe
      <a href="{{ " /feed.xml " | relative_url }}">via RSS</a>
    </p>
    {%- endif -%}
  </div>
