--- 
layout: default
title: hello
---

<div class="home">
  <!-- Banner -->
  <div class="container banner-container">
    <div class="row">
      <div class="col-md-7  order-2 order-md-1">
        <h1 class="display-1">Batfish</h1>
        <p class="lead">
          An open source network configuration analysis tool
        </p>
      </div>
      <div class="col-md-5 order-1 order-md-2">
        <object id="batfish-logo" type="image/svg+xml" data="{{ '/assets/animated-batfish.svg' | relative_url}}" class="mx-2">
          <!-- TODO ADD FALLBACK FOR SVG-->
        </object>
      </div>
    </div>
  </div>

  {%- include banner.html -%}
  <!-- Content -->
  <div class="container">
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <p>
            Batfish is a network configuration analysis tool that can find bugs and guarantee the correctness of (planned or 
            current) network configurations. It enables network engineers to rapidly and safely evolve the network, without 
            fear of outages or security breaches.
          </p>
          <p>
            Batfish was originally developed jointly by researchers at Microsoft Research, the University
            of California, Los Angeles, and the University of Southern California. Many others have since  
            contributed to it. 
          </p>
          <p>
            Batfish is currently maintained by and also offered as a supported service by 
            <a href="https://www.intentionet.com">Intentionet</a>.
          </p>
        </div>
      </div>
    </div>

    <!-- Latest Comic -->
    <div class="section">
        <div class="justify-content-center row">
          <div class="col-12 p-0">

            <div class="section-title">
              <h2>Latest Comic</h2>
            </div>

            <div class="content-row my-4">
                  <object type="image/svg+xml" data="{{ '/assets/comics/comic-01.svg' | relative_url}}" style="max-width:90vw"></object>
            </div>

          </div>
        </div>
      </div>


  <!-- Tutorial Videos Talks-->
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <div class="section-title">
            <h2>Tutorials</h2>
          </div>
          <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=Ca7kPAtfFqo&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3&index=1">
              <h4>Getting Started with Batfish</h4>
            </a>
          </div>

          <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=qOXRaVs1Uz4&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3&index=2">
              <h4>Validating Configuration Settings with Batfish
              </h4>
            </a>
          </div>

          <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=AutkFa0xUxg&index=3&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
              <h4>Analyzing Routing Tables with Batfish</h4>
            </a>
          </div>

          <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=KixQYEDh33s&index=4&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
              <h4>Analyzing ACLs and Firewall Rules</h4>
            </a>
          </div>

          <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=MJYLVL9UOWk&index=5&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
              <h4>Provably Safe ACL and Firewall Changes</h4>
            </a>
          </div>

          <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=yaJBH3ZZ5Dw&index=6&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
              <h4>Introduction to Forwarding Analysis</h4>
            </a>
          </div>

          <div class="content-row my-4">
            <a href="https://www.youtube.com/watch?v=Yje70Q8R79w&index=7&list=PLUXUN_5CNTWJeMUqbUFcdi2qPnm_2mit3">
              <h4>Introduction to Forwarding Change Validation</h4>
            </a>
          </div>

        </div>
      </div>
    </div>

    <!-- Selected Community Resources -->
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <div class="section-title">
            <h2>Selected Community Resources</h2>
          </div>

          <div class="content-row my-4">
            <a href="https://www.ansible.com/resources/webinars-training/validating-pre-commit-network-configuration-changes-at-scale-with-batfish-ansible">
              <h4>Webinar: Validating Pre-Commit Network Configuration Changes at Scale with Batfish and Ansible</h4>
            </a>
            [<a href=https://github.com/batfish/ansible-demo>Code</a>]
            <p>Andrius Benokraitis (RedHat, @andriusb), Ratul Mahajan (@ratulm), Samir Parikh (@saparikh)</p>
          </div>

          <div class="content-row my-4">
            <a href="https://eos.arista.com/network-ci-part-3/">
              <h4>Blog: Building a network CI pipeline with Gitlab, Ansible, cEOS, Robot Framework and Batfish</h4>
            </a>
            [<a href=https://github.com/networkop/arista-network-ci>Code</a>]
            <p>Michael Kashin (Arista, @networkop1)</p>
          </div>

          <div class="content-row my-4">
            <a href="https://tekunabe.hatenablog.jp/entry/2018/10/25/batfish">
              <h4>Blog: Introduction of tool "Batfish" which can read various configurations of network equipment and can perform various verification such as routing</h4>
            </a>
            <p>Yokochi (@akira6592 )</p>
          </div>

          <div class="content-row my-4">
            <a href="https://unicast.network/posts/batfish_intro/">
              <h4>Blog: Batfish introduction</h4>
            </a>
            <p>Ruari Carrol (Twitter, @rucarrol)</p>
          </div>

        </div>
      </div>
    </div>

    <!-- Publication-->
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <div class="section-title">
            <h2>Papers that describe the technology</h2>
          </div>
          <div class="content-row my-4">
            <a href="https://www.usenix.org/system/files/conference/nsdi15/nsdi15-paper-fogel.pdf">
              <h4>A General Approach to Network Configuration Analysis</h4>
            </a>
            <p>Ari Fogel, Stanley Fung, Luis Pedrosa, Meg Walraed-Sullivan, Ramesh Govindan, Ratul Mahajan, Todd Millstein</p>
            <p>USENIX Symposium on Networked Systems Design and Implementation (NSDI) 2015</p>
          </div>

          <div class="content-row my-4">
            <a href="https://ratul.org/papers/hvc2016-ddnf.pdf">
              <h4>ddNF: An efficient data structure for header spaces</h4>
            </a>
            <p>Nikolaj Bjørner and Garvit Juniwal and Ratul Mahajan and Sanjit A. Seshia and George Varghese</p>
            <p>Haifa Verification Conference (HVC) 2016</p>
          </div>

          <div class="content-row my-4">
            <a href="http://ratul.org/papers/sigcomm2017-minesweeper.pdf">
              <h4>A General Approach to Network Configuration Verification</h4>
            </a>
            <p>Ryan Beckett, Aarti Gupta, Ratul Mahajan, David Walker</p>
            <p>ACM SIGCOMM  2017</p>
          </div>

          <div class="content-row my-4">
            <a href="http://ratul.org/papers/sigcomm2018-bonsai.pdf">
              <h4>Control Plane Compression</h4>
            </a>
            <p>Ryan Beckett, Aarti Gupta, Ratul Mahajan, David Walker</p>
            <p>ACM SIGCOMM 2018</p>
          </div>
        </div>
      </div>
    </div> 
    <!-- End publications-->

    <!-- Related publications-->
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <div class="section-title">
            <h2>Papers that build on Batfish</h2>
          </div>
          <div class="content-row my-4">
            <a href="https://ratul.org/papers/sigcomm2016-arc.pdf">
              <h4>Fast Control Plane Analysis Using an Abstract Representation</h4>
            </a>
            <p>Aaron Gember-Jacobson, Raajay Viswanathan, Aditya Akella, Ratul Mahajan</p>
            <p>ACM SIGCOMM 2016</p>
          </div>

          <div class="content-row my-4">
            <a href="https://www.usenix.org/system/files/conference/osdi16/osdi16-fayaz.pdf">
              <h4>Efficient Network Reachability Analysis Using a Succinct Control Plane Representation</h4>
            </a>
            <p>Seyed K. Fayaz, Tushar Sharma, Ari Fogel, Ratul Mahajan, Todd Millstein, Vyas Sekar, George Varghese</p>
            <p>USENIX Symposium on Operating Systems Design and Implementation (OSDI) 2016</p>
          </div>
          
          <div class="content-row my-4">
            <a href="https://ratul.org/papers/sosp2017-cpr.pdf">
              <h4>Automatically Repairing Network Control Planes Using an Abstract Representation</h4>
            </a>
            <p>Aaron Gember-Jacobson and Aditya Akella and Ratul Mahajan and Hongqiang Harry Liu</p>
            <p>ACM SOSP 2017</p>
          </div>

        </div>
      </div>
    </div> 
    <!-- End publications-->
  </div>
  <!-- End Content-->

  {%- if site.post.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.post -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.var | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe
    <a href="{{ " /feed.xml " | relative_url }}">via RSS</a>
  </p>
  {%- endif -%}
</div>
