--- 
layout: default
title: hello
---

<div class="home">
  <!-- Banner -->
  <div class="container banner-container">
    <div class="row">
      <div class="col-md-7  order-2 order-md-1">
        <h1 class="display-1">Batfish</h1>
        <p>
            Batfish is an open source network configuration analysis tool that can guarantee the correctness (planned or 
            current) network configurations. It enables network engineers to rapidly and safely evolve the network, without 
            fear of outages or security breaches.
          </p>
          <p>
            Batfish was originally developed by researchers at Microsoft Research, the University
            of California, Los Angeles, and the University of Southern California. Many others have since  
            contributed to it. Batfish is currently maintained and offered as a supported service by 
            <a href="https://www.intentionet.com">Intentionet</a>.
          </p>
      </div>
      <div class="col-md-5 order-1 order-md-2">
        <object id="batfish-logo" type="image/svg+xml" data="{{ '/assets/animated-batfish.svg' | relative_url}}" class="mx-2">
          <!-- TODO ADD FALLBACK FOR SVG-->
        </object>
      </div>
    </div>
  </div>

  {%- include banner.html -%}
  <!-- Tutorial Videos Talks-->
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <div class="section-title">
            <h2>Tutorials</h2>
          </div>
          <div class="container">
              <div class="row">    
                  <div class="section-title">
                      <h4>The basics</h4>
                  </div>
              </div>
              <div class="row">    
                  <div class="col-md-6 ">
                      <div class="card">
                          <div class="card-image">
                              <div class="embed-responsive embed-responsive-16by9">
                                <!-- Getting started -->
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ca7kPAtfFqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen/>
                                </iframe> 
                              </div>                              
                          </div><!-- card image -->
                          <div class="card-body">
                              <p class="card-text text-dark">Learn how to get started with Batfish and get an overview of its capabilities.</p>                          
                          </div><!-- card body -->                        
                      </div>
                  </div>
                  <div class="col-md-6 ">
                      <div class="card">
                          <div class="card-image">
                              <div class="embed-responsive embed-responsive-16by9">
                                <!-- Validation configuration settings started -->
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/qOXRaVs1Uz4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>            
                                </iframe> 
                              </div>                              
                          </div><!-- card image -->
                          <div class="card-body">
                              <p class="card-text text-dark">Learn how to validate configuration settings and ensure compliance.</p>                          
                          </div><!-- card body -->                        
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                <div class="section-title">
                    <h4>ACL and firewall rule analysis</h4>
                </div>
              </div>
              <div class="row">    
                  <div class="col-md-6 ">
                      <div class="card">
                          <div class="card-image">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <!-- ACLs and firewalls -->
                                  <iframe width="560" height="315" src="https://www.youtube.com/embed/KixQYEDh33s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>            
                                  </iframe> 
                              </div>                              
                          </div><!-- card image -->
                          <div class="card-body">
                              <p class="card-text text-dark">Learn how to use analyze ACLs and firewalls rules using Batfish.</p>                          
                          </div><!-- card body -->                        
                      </div>
                  </div>
                  <div class="col-md-6 ">
                      <div class="card">
                          <div class="card-image">
                              <div class="embed-responsive embed-responsive-16by9">
                                <!-- Provably safe ACLs and firewalls -->
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/MJYLVL9UOWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>            
                                </iframe> 
                              </div>                              
                          </div><!-- card image -->
                          <div class="card-body">
                              <p class="card-text text-dark">Learn how to ensure that changes to ACLs and firewall rules are correct and safe.</p>                          
                          </div><!-- card body -->                 
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="section-title">
                      <h4>Packet forwarding analysis</h4>
                  </div>
              </div>
              <div class="row">    
                  <div class="col-md-6 ">
                      <div class="card">
                          <div class="card-image">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <!-- Forwarding analysis -->
                                  <iframe width="560" height="315" src="https://www.youtube.com/embed/KixQYEDh33s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>            
                                  </iframe> 
                              </div>                              
                          </div><!-- card image -->
                          <div class="card-body">
                              <p class="card-text text-dark">Learn how to analyze forwarding paths of individual flows and verify forwarding behavior for <i>all</i> flows.</p>                          
                          </div><!-- card body -->                        
                      </div>
                  </div>
                  <div class="col-md-6 ">
                      <div class="card">
                          <div class="card-image">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <!-- Forwarding change analysis -->
                                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Yje70Q8R79w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>            
                                  </iframe> 
                              </div>                              
                          </div><!-- card image -->
                          <div class="card-body">
                              <p class="card-text text-dark">Learn how to ensure that changes to the network do not impact packet forwarding in unexpected ways.</p>                          
                          </div><!-- card body -->                 
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="section-title">
                      <h4>Routing table analysis</h4>
                    </div>
                </div>
              <div class="row">    
                  <div class="col-md-6 ">
                  <div class="card">
                      <div class="card-image">
                          <div class="embed-responsive embed-responsive-16by9">
                              <!-- Routing table analysis -->
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/AutkFa0xUxg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>            
                              </iframe> 
                          </div>                              
                      </div><!-- card image -->
                      <div class="card-body">
                          <p class="card-text text-dark">Learn how to analyze routing tables.</p>                          
                      </div><!-- card body -->                 
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- NANOG Talks-->
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <div class="section-title">
            <h2>Talks</h2>
          </div>

          <div class="content-row my-4">
            <a href="https://youtu.be/sKApcGY6MxQ">
              <h4>NANOG 65 : Proactive Network Configuration Validation with Batfish</h4>
            </a>
            <p>Ari Fogel, Ratul Mahajan, Todd Millstein</p>
          </div>

          <div class="content-row my-4">
            <a href="https://youtu.be/BoLjaiP2Dio">
              <h4>NANOG 70 : Minesweeper and Propane: Two Tools for Improving Network Reliability</h4>
            </a>
            <p>Ryan Beckett</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Publication-->
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <div class="section-title">
            <h2>Primary papers on the technology</h2>
          </div>
          <div class="content-row my-4">
            <a href="https://www.usenix.org/system/files/conference/nsdi15/nsdi15-paper-fogel.pdf">
              <h4>A General Approach to Network Configuration Analysis</h4>
            </a>
            <p>Ari Fogel, Stanley Fung, Luis Pedrosa, Meg Walraed-Sullivan, Ramesh Govindan, Ratul Mahajan, Todd Millstein</p>
            <p>USENIX Symposium on Networked Systems Design and Implementation (NSDI) 2015</p>
          </div>

          <div class="content-row my-4">
            <a href="https://ratul.org/papers/hvc2016-ddnf.pdf">
              <h4>ddNF: An efficient data structure for header spaces</h4>
            </a>
            <p>Nikolaj Bjørner and Garvit Juniwal and Ratul Mahajan and Sanjit A. Seshia and George Varghese</p>
            <p>Haifa Verification Conference (HVC) 2016</p>
          </div>

          <div class="content-row my-4">
            <a href="http://ratul.org/papers/sigcomm2017-minesweeper.pdf">
              <h4>A General Approach to Network Configuration Verification</h4>
            </a>
            <p>Ryan Beckett, Aarti Gupta, Ratul Mahajan, David Walker</p>
            <p>ACM SIGCOMM  2017</p>
          </div>

          <div class="content-row my-4">
            <a href="http://ratul.org/papers/sigcomm2018-bonsai.pdf">
              <h4>Control Plane Compression</h4>
            </a>
            <p>Ryan Beckett, Aarti Gupta, Ratul Mahajan, David Walker</p>
            <p>ACM SIGCOMM 2018</p>
          </div>
        </div>
      </div>
    </div> 
    <!-- End publications-->

    <!-- Related publications-->
    <div class="section">
      <div class="justify-content-center row">
        <div class="col-10">
          <div class="section-title">
            <h2>Papers that leverage Batfish</h2>
          </div>
          <div class="content-row my-4">
            <a href="https://ratul.org/papers/sigcomm2016-arc.pdf">
              <h4>Fast Control Plane Analysis Using an Abstract Representation</h4>
            </a>
            <p>Aaron Gember-Jacobson, Raajay Viswanathan, Aditya Akella, Ratul Mahajan</p>
            <p>ACM SIGCOMM 2016</p>
          </div>

          <div class="content-row my-4">
            <a href="https://www.usenix.org/system/files/conference/osdi16/osdi16-fayaz.pdf">
              <h4>Efficient Network Reachability Analysis Using a Succinct Control Plane Representation</h4>
            </a>
            <p>Seyed K. Fayaz, Tushar Sharma, Ari Fogel, Ratul Mahajan, Todd Millstein, Vyas Sekar, George Varghese</p>
            <p>USENIX Symposium on Operating Systems Design and Implementation (OSDI) 2016</p>
          </div>
          
          <div class="content-row my-4">
            <a href="https://ratul.org/papers/sosp2017-cpr.pdf">
              <h4>Automatically Repairing Network Control Planes Using an Abstract Representation</h4>
            </a>
            <p>Aaron Gember-Jacobson and Aditya Akella and Ratul Mahajan and Hongqiang Harry Liu</p>
            <p>ACM SOSP 2017</p>
          </div>

        </div>
      </div>
    </div> 
    <!-- End publications-->
  </div>
  <!-- End Content-->

  {%- if site.post.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.post -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.var | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe
    <a href="{{ " /feed.xml " | relative_url }}">via RSS</a>
  </p>
  {%- endif -%}
</div>
